@font-face {
  font-family: my;
  src: url(/fonts/Poppins-Regular0055.ttf);
}
* {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
  letter-spacing: 0.1rem;
  font-family: my;
}
.bo {
  position: relative;
  align-items: center;
  justify-content: center;
}

form,
label,
h2 {
  color: white;
  background-color: #0275e8;
  border: 0px;
}

fieldset {
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 120px;
  border: 0px;
  border-radius: 10px;
  padding: 20px;
  background-color: #0275e8;
}

input {
  border-radius: 0px;
  padding: 1px;
  border: none;
  width: 100%;
}

h1,
p,
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 8px 10px;
  border-radius: 8px;
  color: #0275e8;
  cursor: pointer;
}
